@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.container_1 {
  display: flex;
  flex-direction: row;
  height: 120px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.img_logo {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 80%;
  margin: auto 50px;
  margin-right: 30px;
  cursor: pointer;
}

.img_logo:active {
  transform: scale(1.05);
}

.img_logo img {
  margin: auto;
  height: 90px;
  width: 90px;
}


.img_logo_v2 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 80%;
  margin: auto;
  margin-right: 50px;
}



.img_logo_v2:active {
  transform: scale(1.05);
}

.img_logo_v2 img {
  margin: auto;
  height: 70px;
  width: 70px;
}





.titulo {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin: auto 0;
}

.titulo h1 {
  color: rgba(65, 183, 132, 1);
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.titulo h3 {
  color: rgba(65, 183, 132, 1);
  font-family: "Nunito", sans-serif;
  margin: 0;
  margin-top: -5px;
}

@media (max-width: 880px) {
  .container_1 {
    height: 90px;
  }

  .titulo h3 {
    font-size: 5mm;
  }

  .titulo h1 {
    font-size: 8mm;
  }

  .img_logo {
    height: 100%;
    margin-right: 15px;
  }

  .img_logo_v2 {
    height: 100%;
    margin-right: 40px;
  }
}

@media (max-width: 660px) {
  .container_1 {
    height: 85px;
  }

  .titulo h3 {
    font-size: 4.5mm;
  }

  .titulo h1 {
    font-size: 6mm;
  }
}

@media (max-width: 500px) {
  .img_logo img {
    height: 70px;
    width: 70px;
  }

  .img_logo_v2 img {
    height: 60px;
    width: 60px;
  }

  .titulo h3 {
    font-size: 4.5mm;
  }

  .titulo h1 {
    font-size: 6mm;
  }

  .img_logo {
    margin-left: 20px;
  }

  .img_logo_v2 {
    margin-right: 10px;
  }
}

@media (max-width:450px) {
  .img_logo {
    margin-right: 10px;
    margin-left: 10px;
  }
}