services:
  calculadora:
    build: .
    container_name: calculadora_academica
    ports:
      - "5534:3000"
    networks:
      - proxy
    restart: always

networks:
  proxy:
    external: true
    name: nginx_proxy
    