.colunm {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}