@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container_1 {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  min-height: 30px;
  margin: auto;
}
.tiulo h1 {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
.campoTexto {
  display: flex;
  flex-direction: row;
  height: 70px;
}
.campoTexto input {
  max-lines: 1;
  font-size: 5mm;
  padding-left: 30px;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.226) 0.5mm;
  border-radius: 70px;
}
/* ============================================ */
.btn_click {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  height: 80px;
  width: auto;
  margin: auto;
  padding: 0 15px;
  margin-left: 0;
  margin-top: 30px;
  background-color: rgba(65, 183, 132, 1);
  display: flex;
  flex-direction: row;
}
.effects_h2 {
  filter: brightness(100%);
  user-select: none;
  margin: auto;
  font-size: 6mm;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: white;
}
.btn_click:hover .effects_h2 {
  filter: brightness(0%);
}
/* ============================================ */
@media (max-width: 760px) {
  .effects_h2 {
    font-size: 5mm;
  }
  .btn_click {
    height: 65px;
  }
  .container_1 {
    width: 70%;
  }
  .tiulo {
    font-size: 3.5mm;
  }
  .campoTexto {
    font-size: 2.5mm;
    height: 50px;
  }
}
@media (max-width: 510px) {
  .effects_h2 {
    font-size: 4.5mm;
  }
  .container_1 {
    width: 80%;
  }
  .tiulo {
    font-size: 2.5mm;
  }
}
