@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container_1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  min-height: 30px;
  margin: auto;
}
.tiulo h1 {
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
.showContainer {
  padding: 15px;
  height: auto;
  min-height: 250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  border: solid rgba(0, 0, 0, 0.25) 0.5mm;
}
.showContainer p {
  font-size: 5mm;
}
/* ============================================ */
.btn_click {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  height: 80px;
  width: auto;
  margin: auto;
  padding: 0 15px;
  margin-left: 0;
  margin-top: 30px;
  background-color: rgba(65, 183, 132, 1);
  display: flex;
  flex-direction: row;
}
.effects_h2 {
  filter: brightness(100%);
  user-select: none;
  margin: auto;
  font-size: 6mm;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: white;
}
.btn_click:hover .effects_h2 {
  filter: brightness(0%);
}
/* ============================================ */
@media (max-width: 760px) {
  .effects_h2 {
    font-size: 5mm;
  }
  .btn_click {
    height: 65px;
  }
  .container_1 {
    margin-top: 20px;
    width: 70%;
    margin-left: 20px;
  }
  .tiulo {
    font-size: 3.5mm;
  }
}
@media (max-width: 510px) {
  .effects_h2 {
    font-size: 4.5mm;
  }
  .container_1 {
    width: 80%;
  }
  .tiulo {
    font-size: 2.5mm;
  }
}
