name: 游 EC2 Autoscaling + Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    name: 游 Deploy + Autoscaling EC2
    runs-on: ubuntu-latest
    environment: aws

    steps:
      - name: 游닌 Clonar reposit칩rio com scripts de deploy
        uses: actions/checkout@v3
        with:
          repository: marco0antonio0/guideActionDeploy
          path: script-repo  

      - name: 游댏 Criar chave SSH tempor치ria
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" | base64 -d > /tmp/ec2_key.pem
          chmod 600 /tmp/ec2_key.pem
        shell: bash

      - name: 丘뙖잺 游댶 Etapa 1 Auto Scaling para inst칙ncia mais forte
        run: |
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export AWS_DEFAULT_REGION="us-east-1"
          export TYPE_BUILD="${{ secrets.TYPE_BUILD }}"
          export INSTANCE_ID="${{ secrets.EC2_INSTANCE_ID }}"
          chmod +x script-repo/build_v2/ec2-scale-build-scaling-start.sh
          script-repo/build_v2/ec2-scale-build-scaling-start.sh
          
        shell: bash

      - name: 丘뙖잺 游 Etapa 2 Deploy da aplica칞칚o na inst칙ncia EC2
        if: success()  
        run: |
          export REPO_URL="${{ secrets.REPO_URL }}"
          export EC2_USER="${{ secrets.EC2_USER }}"
          export EC2_HOST="${{ secrets.EC2_HOST }}"
          export SSH_KEY_B64_PATH="/tmp/ec2_key.pem"
          export DEPLOY_DIR="${{ secrets.EC2_DEPLOY_DIR }}"
          chmod +x script-repo/build_v2/ec2-scale-build.sh
          script-repo/build_v2/ec2-scale-build.sh
        shell: bash

      - name: 丘뙖잺 游댷 Etapa 3 Reverter para inst칙ncia padr칚o (autoscaling reverso)
        if: always()
        run: |
          echo "鮫勇 Executando revers칚o para tipo inicial da inst칙ncia EC2..."
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export AWS_DEFAULT_REGION="us-east-1"
          export TYPE_INITIAL="${{ secrets.TYPE_INITIAL }}"
          export INSTANCE_ID="${{ secrets.EC2_INSTANCE_ID }}"
          chmod +x script-repo/build_v2/ec2-scale-build-scaling-end.sh
          script-repo/build_v2/ec2-scale-build-scaling-end.sh
        shell: bash

      - name: 游빞 Limpar chave SSH tempor치ria
        if: always()
        run: |
          rm -f /tmp/ec2_key.pem
          echo "游빟 Chave SSH tempor치ria removida com sucesso."
        shell: bash
