name: 游 EC2 Autoscaling + Deploys

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    name: 游 Deploys + Autoscaling
    runs-on: ubuntu-latest
    environment: aws

    steps:
      - name: 游닌 Clonar reposit칩rio com script
        uses: actions/checkout@v3
        with:
          repository: marco0antonio0/guideActionDeploy
          path: script-repo  

      - name: 游댏 Criar chave SSH tempor치ria
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" | base64 -d > /tmp/ec2_key.pem
          chmod 600 /tmp/ec2_key.pem

      - name: 游댢 Executar script com vari치veis de ambiente
        run: |
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export AWS_DEFAULT_REGION="us-east-1"
          export EC2_USER="${{ secrets.EC2_USER }}"
          export EC2_HOST="${{ secrets.EC2_HOST }}"
          export SSH_KEY_B64_PATH="/tmp/ec2_key.pem"
          export INSTANCE_ID="${{ secrets.EC2_INSTANCE_ID }}"
          export TYPE_INITIAL="${{ secrets.TYPE_INITIAL }}"
          export TYPE_BUILD="${{ secrets.TYPE_BUILD }}"
          export DEPLOY_DIR="${{ secrets.EC2_DEPLOY_DIR }}"
          chmod +x script-repo/ec2-scale-build.sh
          script-repo/ec2-scale-build.sh

      - name: 游빞 Limpar chave SSH tempor치ria
        if: always()
        run: |
          rm -f /tmp/ec2_key.pem
          echo "游빟 Chave SSH tempor치ria removida com sucesso."
